.right-side{
  flex: 0.2;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.widget {
  padding: 10px;
  border: 1px solid #d3d3d3;
  height:80vh ;
  background-color: white;
    
  }
  .widget::-webkit-scrollbar {
    display: none;
  }
 .q-box{ 
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #dee0e1;
 }
  .widget__header {
    align-items: center;
    height: 25px;
    display: flex;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-weight: 400;
    color: black;
    font-size: 17px;
  }
  .widget__header > center{
    flex: 1 1 0%;
  }
  
  .widget__contents {
    display: flex;
    flex-direction: column;
    display: flex;
    cursor: pointer;
  }
  
  .widget__content {
    align-items: center;
    /* margin: 5px; */
    display: flex;
    padding: 5px;
    border-bottom: 1px solid lightgray;
  }  
  .widget__content > img {
    display: inline-flex;
    align-self: flex-start;
    height: 30px;
    border-radius: 5px;
  }
  .widget-tit h5,p{
    margin: 3px;
  }
  .widget__contentTitle {
    color: rgb(128, 128, 128);
    font-size: small;
    box-sizing: border-box;
    display: inline-flex;
    margin-left: 5px;
  }

    